<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    <template v-if="logged">
      <p>User logged: {{name}}</p>
      <p>Profile: Admin</p>
    </template>
    <p v-else-if="anonymous">Browsing as anonymous</p>
    <p v-else>You don't is logged</p>
    <button @click="logged = !logged">{{logged ? 'Logout' : 'Enter'}}</button>
    <input type="checkbox" v-model="anonymous">
  </div>

  <script>
    new Vue({
      el: "#app",
      data: {
        name: "Daniel",
        logged: false,
        anonymous: false
      },
    });
  </script>
</body>

</html>